@model Application.ViewModels.TypeViewModel
@{
    bool editMode = Model.IdType == 0 ? false : true;
    ViewData["Title"] = "Save Type";
}

<div class="row">
    <div class="d-flex flex-md-column justify-content-center align-items-center my-5 p-5">
        <div class="row text-center">
            <h3 class="my-3 fw-bold">@(editMode ? $"Editando el tipo: {Model.NameType}" : "Creando un nuevo tipo")</h3>
        </div>
        <form class="col-4" method="post" asp-controller="Type" asp-action=@(editMode ? "UpdateType" : "AddType")>
            <div class="mb-3">
                <label asp-for="NameType" class="form-label">Nombre: </label>
                <input type="text" asp-for="NameType" class="form-control">
                <span asp-validation-for="NameType" class="text-danger"></span>
            </div>
            <div class="d-flex gap-2">
                <input type="hidden" asp-for="IdType" />

                <button type="submit" class="btn w-100 btn-outline-primary">Guardar</button>
                <a asp-controller="Type" asp-action="IndexType" class="btn w-100 btn-outline-secondary">Volver atras</a>
            </div>
        </form>
    </div>
</div>
